body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}

header {
    background-color: #c5a803;
    padding: 20px 0;
     text-align:center ;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.banner {
    text-align: center;
    padding: 50px 0;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background-color: #315377;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.product img {
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product p {
    font-size: 14px;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about, .contact {
    padding: 20px;
    text-align: center;
}
.contact img{
    width: 200px;
    height: 200px;

}

footer {
    background-color: #382396;
    color: #b1b33d;
    text-align: center;
    padding: 10px 0;
}
.spare img{
width: 100px;
height: 100px;


}